* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Alegreya" Georgia, serif;
  font-size: 16px;
}
body {
  background-image: url(img/default.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position: center;
  background-size: cover;
}
#body-style {
  /* border: 3px solid red; */
  padding: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header {
  /* border: 12px solid red; */
  grid-column: 1/4;
}
nav {
  /* border: 2px solid blue; */
  display: flex;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 2px 2px 5px black, 2px 2px 5px white;
  justify-content: space-between;
  /* overflow: hidden; */
  padding: 5px 10px;
}
nav img {
  display: inline-block;
  height: 100%;
  height: 8vh;
  filter: invert(100%);
  /* border: 3px solid green; */
}
#hmbrimg {
  visibility: hidden;
}
.welcome {
  /* border: 3px solid navajowhite; */
  align-self: center;
  flex-shrink: 8;
  width: 70%;

  font-size: 2.5rem;
  color: white;
}
.box {
  /* border: 3px solid white; */
  /* height: 87vh; */
  display: flex;

  align-items: center;
  justify-content: center;
}
section {
  /* border: 3px solid yellow; */
  width: 50vw;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 20px;
  box-shadow: 5px 5px 10px white, 5px 5px 10px black, -5px -5px 10px white,
    -5px -5px 10px black, -5px 5px 10px white, -5px 5px 10px black,
    5px -5px 10px white, 5px -5px 10px black;
}

#search-bar {
  text-align: center;
  width: 100%;
  font-family: "Alegreya", serif;
  font-size: 2.5rem;
  font-family: "Alegreya", serif;
  padding: 10px 30px;
  border: none;
  outline: none;
  font-variant: small-caps;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: rgba(255, 255, 255, 0.6);
}
.details-box {
  margin-top: 5px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  display: none;
}
#location {
  padding: 10px;
  font-weight: 600;
  font-size: 1.7rem;
}
#date {
  font-weight: 500;
  font-size: 1.3rem;
}
#temp {
  font-size: 4.5rem;
  padding: 10px;
  text-shadow: 2px 4px 3px white, 1px 1px 1px black;
}

#min-max {
  font-size: 1.8rem;
}
#atmostphere {
  font-size: 1.7rem;
  font-weight: 600;
}
#img {
  font-size: 3rem;
}
footer {
  /* border: 2px solid yellow; */
  grid-column: 1/4;
  width: 100vw;
  height: 3vh;

  background: black;

  color: white;
  font-size: 2vh;
  text-align: center;
  padding: 3px 3px;
}
@media only screen and (max-width: 310px) {
  * {
    font-size: 12px;
  }

  nav img {
    height: 6vh;
  }
  .welcome {
    font-size: 1.2rem;
  }

  section {
    width: 80%;
    padding: 8px;
  }
  #search-bar {
    font-size: 1.5rem;
    padding: 8px;
  }
}
@media only screen and (min-width: 310px) and (max-width: 450px) {
  * {
    font-size: 14px;
  }

  nav img {
    height: 6vh;
  }
  .welcome {
    font-size: 1.5rem;
  }

  section {
    width: 80%;
    padding: 8px;
  }
  #search-bar {
    font-size: 1.8rem;
    padding: 8px;
  }
}
@media only screen and (min-width: 450px) and (max-width: 600px) {
  * {
    font-size: 16px;
  }

  nav img {
    height: 7vh;
  }
  .welcome {
    font-size: 1.9rem;
  }

  section {
    width: 80%;
    padding: 8px;
  }
  #search-bar {
    font-size: 1.8rem;
    padding: 8px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1200px) {
  * {
    font-size: 18px;
  }

  nav img {
    height: 7vh;
  }
  .welcome {
    font-size: 2.3rem;
  }

  section {
    width: 65%;
    padding: 8px;
    line-height: 350%;
  }
  #search-bar {
    font-size: 2.2rem;
    padding: 10px;
  }
}
